/* Scss Document */


/* ******************

	Article Page

*/

.single-article {
	figure {
		
		&.alignright {
			height:0;
			
			.fig-wrap {
				
				position:relative;
				left:100%;
				margin-left:$grid-gutter-width;
				
				img {
				
				}
				figcaption {
					padding-top:.5em;
				}	
			}
		}
		&.alignnone {
			height:0;
			
			.fig-wrap {
				
				position:relative;
				left:100%;
				margin-left:$grid-gutter-width;
				
				img {
				
				}
				figcaption {
					padding-top:.5em;
				}	
			}
		}
	}
	
	blockquote {
		padding:0;
		margin:0;
		
		height:0;
		* {
			position:relative;
			left:100%;
			margin-left:$grid-gutter-width;	
		}
		
	}
	
	.gallery {
		.gallery-item {
			float:left;
			
			.gallery-item-wrap {
				
				padding: $grid-gutter-width/2;
			
			}
			
			img {
				width:100%;
				height:auto;
			}
		
			&:first-child {
				.gallery-item-wrap {
					padding-left:0;	
				}
			}
			&:last-child {
				.gallery-item-wrap {
					padding-right:0;	
				}
			}
		
		}
		
		
	}
}


// image default (right)

// image - center (full width)

// image - left


// blockquote - default (right)




// blockquote - full width

// blockquote - left


