
// Override Bootstrap Variables
@import "_override-bootstrap-variables.scss";

// Import the Bootstrap SASS
@import "../vendor/bootstrap-sass-3.3.2/assets/stylesheets/bootstrap.scss";

// Import the main Gazette SASS

// Variables

$darkred : #800924;

body {
	background:white url(../img/bg50.png);
}
#masthead {
	#menu-header-left {
		margin-top:40px;
	}
	.site-title{
	}
	.bsearchform {
		margin-top:40px;
		text-align:right;
	}
	#site-navigation {	
		margin-top:40px;
	}
	
}
.page-template-home {
	.article-title {
		font-size:1.1em;
	
		a {
			color:black;
		}
	}
	.article-author {
		font-size:12px;
		font-style:italic;
	}
	.article-excerpt {
		font-size:12px;
		margin-bottom:1em;
	}
	.article-img {
		max-height:158px;
		overflow:hidden;
		margin-bottom:1em;
		border:1px solid white;
		-webkit-box-shadow: 0 1px 4px 0 #bbb;  
		-moz-box-shadow:    0 1px 4px 0 #bbb; 
		box-shadow:         0 1px 4px 0 #bbb; 
		
		img {
			min-height:158px;
		}	 
	}
	.issue-meta {
		font:.8em "Georgia", serif;
		text-transform: uppercase;
		letter-spacing:1px;	
	}
	#roundtables {
		.article-title {
			font-size:1em;	
		}	
	}
	#promos {
		padding:40px 0;	
	}
	.site-footer {
		#footer-list {
			
		}
	}
	.column-title {
		font-size: 1em;
		text-transform:uppercase;
		letter-spacing:1px;
		
		a {
			display:block;
			position:relative;
			padding-left: 24px;
			color:$darkred;
			font-size:13px;
			
			img {
				position:absolute;
				top:0;
				left:0;
				height:17px;
				max-width:17px;
			}
			
			&:hover {
				color:$darkred;	
			}	
		}
		
	}
}

@media (max-width: 720px) {
	.page-template-home .article-img img {
		width:100%;
	}
}


#columns-nav {
	a {
		font-style:italic;
	}
}

hr {
	border-top-color:#EDC2C2;
}

.site-footer {
	padding:10px 0 30px 0;

	#footer-list {
		margin:0;
		padding:0;
		list-style-type:none;
		
		li {
			margin:0;
			padding:0;
			list-style-type:none;
			display:inline;
			margin-right:2em;
		}
	}
}

.page-template-page-column {
	#content {
		padding-bottom:30px;
	}
	h1 {
		color:black;
		font-size:1.2em;
		text-transform:uppercase;
		letter-spacing:1px;
		font-weight:normal;
	}
	h2 {
		
		font-size:1.2em;
	}
	.article-title {
		font-size:1.2em;
		a {
			color:black;
		}
	}
}

.page-template-default {
	#main {
		background-color:white;
		padding:50px 200px;
		-webkit-box-shadow: 0 1px 5px 0 #aaa;  
		-moz-box-shadow:    0 1px 5px 0 #aaa; 
		box-shadow:         0 1px 5px 0 #aaa;  
		margin-bottom:30px;
	}
}
.widget-title {
	font-size:1.2em;
}
@import "_article.scss";


.search-results {
	
	
	
	#main {
		
		.bsearchform {
			display:none;
		}
		
		.page-header {
			
			margin:0; 
			padding:0;
			
			
			.page-title {
				font:16px sans-serif;
				color:#6f6f6f;
				font-weight:normal;
				margin:0;
				
				span {
					font-weight:bold;
					color:black;
				}
			}
		}
		
		h2 {
			font-size: 1.3em;
			font-family: sans-serif;
			font-weight: normal;
			
			&+p {
				display:none;	
			}
		}
		p {
			color:#6f6f6f;	
		}
		.bsearch_footer {
			font-size: 20px;
			border:1px solid #ccc;
			border-width:1px 0;
			margin:30px 0 10px;	
			padding:10px 0;
			
			b, a {
				margin-right:1em;
			}
			
		}
		.bsearch_nav {
			margin:10px 0 30px;	
		}
		
	}
}

.page-template-page-column .col-row {
	margin-bottom:20px;
}
 
#colindex-roundtables {
	article {
		.col-sm-5 {
			display:none;	
		}
		.col-sm-7 {
			width:100%;
		}
	}
}